body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 80px;
  background-image:url(../images/user\ auth~222222.jpg);
 background-size: cover;

  
}
.table-container{
 margin-left: 500px;
}

.form-container { 
  backdrop-filter: blur(5px);
  padding: 10px;
}
  
form {
  display: inline-block;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
input {
  margin: 8px;
  padding: 8px;
  width: 200px;
}
button {
  padding: 8px 15px;
  cursor: pointer;
  background-color: green;
  color: #fff;
  border: none;
  border-radius: 5px;
}
button:hover {
  background-color: darkgreen;
}
